h1 {color: rgb(4, 136, 118); font-size: 250%;}
legend {color:#0e0d0d; font-size: 120%;}
body {background-color: #fafaf1}
p.sample1 {
    color:rgb(47, 0, 255); 
    font-size: 150%; 
    background-color:#ced4f7;
    border:1px solid #5066af;
}
p.sample1 span {
    text-align: right;
    color:rgb(3, 3, 3); 
    font-size: 70%;
}
p.sample2 {
    color:rgb(150, 49, 116); 
    font-size: 150%; 
    background-color:#ffeaed;
    border:1px solid #af5050;
}
p.sample2 span {
    text-align: right;
    color:rgb(3, 3, 3); 
    font-size: 70%;
}
p.sample3 {
    color:rgb(150, 49, 116); 
    font-size: 150%; 
    background-color:#ffeaed;
    border:1px solid #af5050;
}
p.sample3 span {
    text-align: right;
    color:rgb(3, 3, 3); 
    font-size: 70%;
}
.bird img {
    display:  inline-block; 
    box-shadow: 3px 5px 5px 5px #9370db;
    }
.bird > li {
    display:  inline-block;     /* インラインブロック要素にする */
    width: 250px;               /* 幅指定 */
    vertical-align: top;    /* 要素を上下中央で揃える */
}
.flower img {
    box-shadow: 3px 5px 5px 5px #cd5c5c;
    }
.flower > li {
    display:  inline-block;     /* インラインブロック要素にする */
    width: 250px;               /* 幅指定 */
    vertical-align: top;    /* 要素を上下中央で揃える */
}
.album img {
    box-shadow: 3px 5px 5px 5px #2e8b57;
    }
.album > li {
    display:  inline-block;     /* インラインブロック要素にする */
    margin: 0 60px 0 0;               /* 間隔指定 */
    vertical-align: top;    /* 要素を上下中央で揃える */
}

div.counter img {box-shadow: none;}
