body {
font-family: "游ゴシック","メイリオ",sans-serif ;
}
.title {  
    position: relative;
}
 
.title p {
    position: absolute;
    bottom: 20px;
    left: 50px;
    padding: 0px;
    font-size: 350%;
    color: #a3ffa3;
    font-family: "ヒラギノ角ゴ StdN W8", 'arial black';
    font-weight: bold; /*太字に*/
    text-shadow: black 3px 3px 0px;
}

.title img {
	width: 100%;
    opacity: 0.8;
}


legend {color:#0e0d0d; font-size: 120%;}
body {background-color: #fafaf1}
p.sample1 {
    color:rgb(47, 0, 255); 
    font-size: 150%; 
    background-color:#ced4f7;
    border:1px solid #5066af;
}
p.sample1 span {
    text-align: right;
    color:rgb(3, 3, 3); 
    font-size: 50%;
}
p.sample2 {
    color:rgb(150, 49, 116); 
    font-size: 150%; 
    background-color:#ffeaed;
    border:1px solid #af5050;
}
p.sample2 span {
    text-align: right;
    color:rgb(3, 3, 3); 
    font-size: 50%;
}
p.sample3 {
    color:rgb(150, 49, 116); 
    font-size: 150%; 
    background-color:#ffeaed;
    border:1px solid #af5050;
}
p.sample3 span {
    text-align: right;
    color:rgb(3, 3, 3); 
    font-size: 50%;
}
.bird img {
    display:  inline-block; 
    box-shadow: 3px 5px 5px 5px #9370db;
    }
.bird > li {
    display:  inline-block;     /* インラインブロック要素にする */
    width: 330px;               /* 幅指定 */
    vertical-align: top;    /* 要素を上下中央で揃える */
}
.flower img {
    box-shadow: 3px 5px 5px 5px #cd5c5c;
    }
.flower > li {
    display:  inline-block;     /* インラインブロック要素にする */
    width: 330px;               /* 幅指定 */
    vertical-align: top;    /* 要素を上下中央で揃える */
}
.album img {
    box-shadow: 3px 5px 5px 5px #2e8b57;
    }
.album > li {
    display:  inline-block;     /* インラインブロック要素にする */
    margin: 0 70px 0 0;               /* 間隔指定 */
    vertical-align: top;    /* 要素を上下中央で揃える */
}

div.counter img {box-shadow: none;}
