body {
font-family: "游ゴシック","メイリオ",sans-serif ;
}
.title {  
    position: relative;
}
 
.title p {
    position: absolute;
    bottom: 20px;
    left: 50px;
    padding: 0px;
    font-size: 250%;
    color: #a3ffa3;
    font-family: "ヒラギノ角ゴ StdN W8", 'arial black';
    font-weight: bold; /*太字に*/
    text-shadow: black 3px 3px 0px;
}

.title img {
	width: 100%;
    opacity: 0.8;
}
p1 {font-size: 120%;}

legend {
    color:#0e0d0d; 
    font-size: 120%;
    margin-top: 8px;
}
body {background-color: #fafaf1}
p.sample1 {
    color:rgb(47, 0, 255); 
    font-size: 150%; 
    background-color:#ced4f7;
    border:1px solid #5066af;
    margin-top: 5px;
}
p.sample1 span {
    text-align: right;
    color:rgb(3, 3, 3); 
    font-size: 50%;
}
p.sample2 {
    color:rgb(150, 49, 116); 
    font-size: 150%; 
    background-color:#ffeaed;
    border:1px solid #af5050;
}
p.sample2 span {
    text-align: right;
    color:rgb(3, 3, 3); 
    font-size: 50%;
}
p.sample3 {
    color:rgb(150, 49, 116); 
    font-size: 150%; 
    background-color:#ffeaed;
    border:1px solid #af5050;
}
p.sample3 span {
    text-align: right;
    color:rgb(3, 3, 3); 
    font-size: 50%;
}
.bird img {
    display:  inline-block;
    box-shadow: 3px 5px 5px 5px #9370db;
    }
.bird > li {
    display:  inline-block;     /* インラインブロック要素にする */
    width: 250px;               /* 幅指定 */
    vertical-align: top;    /* 要素を上下中央で揃える */
}
.flower img {
    box-shadow: 3px 5px 5px 5px #cd5c5c;
    margin-bottom: 20px;
    }
.flower > li {
    display:  inline-block;     /* インラインブロック要素にする */
    width: 280px;               /* 幅指定 */
    vertical-align: top;    /* 要素を上下中央で揃える */
}
.album img {
    box-shadow: 3px 5px 5px 5px #2e8b57;
    }
.album > li {
    display:  inline-block;     /* インラインブロック要素にする */
    margin: 0 60px 0 0;               /* 間隔指定 */
    vertical-align: top;    /* 要素を上下中央で揃える */
}
td {align: center;
    text-align: center; 
	vertical-align: top;
	width: 250px; 
	height: 200px;
    font-size: 12pt;
	font-weight: normal;
    border: 0px #2b2b2b solid;
	}
td img {
    display:  inline-block; 
    }

div.counter img {box-shadow: none;}


.btn_pg {
        width: 60px;
        margin-left: 10px;
        font-size: 18px;
        color: #000000;
        text-align: center;
        display: block;
        padding: 10px 0 10px;
        background: #ffffff;
        border-radius: 3px;
        border-color: #000000;
        border-width: 1px;
    }
    .linklist {
    display: flex;
    justify-content: left;
    list-style: none;
　 	padding-left: 0;
    }
