@charset "UTF-8";
/* CSS Document */
body {
font-family: "游ゴシック","メイリオ",sans-serif ;
}
.btn1 {
 width:30%;
 height:30%;
 line-height:30px;
 text-align:center;
 display:inline-block;
 background:blue;
 color:#fff;
font-size:150%;
 border-radius:5px;
 text-decoration:none;
}
.btn2 {
 width:30%;
 height:30%;
 line-height:30px;
 text-align:center;
 display:inline-block;
 background:red;
	font-size:150%;
 color:#fff;
 border-radius:5px;
 text-decoration:none;
}
p1{
	font-size: 80%;
}
.suuji {
    position: relative;
    bottom: 20px;
    left: 10px;
    padding: 0px;
    font-size: 250%;
    color: black;
    font-weight: bold; /*太字に*/
    /*text-shadow: black 3px 3px 0px;*/
}
