@charset "UTF-8";
/* CSS Document */
body {
font-family: "游ゴシック","メイリオ",sans-serif ;
}
.btn1 {
 width:30%;
 height:30%;
 line-height:30px;
 text-align:center;
 display:inline-block;
 background:blue;
 color:#fff;
font-size:150%;
 border-radius:5px;
 text-decoration:none;
}
.btn2 {
 width:30%;
 height:30%;
 line-height:30px;
 text-align:center;
 display:inline-block;
 background:red;
	font-size:150%;
 color:#fff;
 border-radius:5px;
 text-decoration:none;
}

.btn3 {
    width: 30%;
    height: 30%;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    background: grey;
    color: #fff;
    font-size: 150%;
    border-radius: 5px;
    text-decoration: none;
}
.btn4 {
    width: 30%;
    height: 35%;
    line-height: 43px;
    text-align: center;
    display: inline-block;
    background: green;
    font-size: 150%;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
p1{
	font-size: 80%;
}
.TOEIC {
    position: relative;
    bottom: 20px;
    left: 10px;
    padding: 0px;
    font-size: 250%;
    color: black;
    font-weight: bold; /*太字に*/
    /*text-shadow: black 3px 3px 0px;*/
}
#definition {
    position: relative;
    bottom: 20px;
    left: 10px;
    padding: 0px;
    font-size: 150%;
    color: black;    /*font-weight: bold; 太字に*/
    /*text-shadow: black 3px 3px 0px;*/
}
#wordnum {
  width: 15%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 20px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/;
}
